* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2em;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
  font-size: 12px;
  line-height: 1.6em;
  color: white; }

body {
  width: 100%;
  background-color: #3A3F61; }

.site-header {
  background-color: #3A3F61;
  overflow: visible;
  position: relative;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  line-height: 25px; }
  .site-header > div {
    width: 33.3333%;
    height: 100%;
    text-align: center;
    border-right: 1px solid white;
    display: inline-block;
    float: left;
    padding: 0px; }
.site-dev {
  text-align: right; }
  .site-dev img {
    float: right;
    height: 100%; }
  .site-dev .info {
    float: left;
    height: 100%;
    margin: 10px 20px;
    text-align: left; }
.site-nav {
  height: 100%;
  width: 100%;
  line-height: 16px; }
  .site-nav ul li {
    padding: 10px 5px;
    width: 20%;
    height: 50%;
    display: inline;
    float: left;
    border: 1px solid white; }
.site-logo .box {
  width: 80%;
  margin: 25px auto; }
.site-slider {
  margin: 0 auto;
  width: 100%;
  height: 600px; }
  .site-slider img {
    width: 100%;
    height: 100%; }
  .site-slider-nav {
    width: 20px;
    display: none; }
.site-calendar {
  min-height: 800px;
  width: 100%;
  background-color: gray;
  border: 1px solid black;
  padding: 40px 200px; }
  .site-calendar nav {
    height: 40px;
    background-color: #425778; }
    .site-calendar nav ul {
      height: 100%; }
      .site-calendar nav ul li {
        display: inline;
        float: left;
        width: 8.33333%;
        height: 100%;
        padding: 10px 4px;
        border: 1px solid white; }
.site-main {
  min-height: 200px;
  padding: 60px 140px;
  background-color: #3A3F61;
  border-top: 1px solid black; }
  .site-main .intro {
    height: 200px;
    margin: 0 auto;
    width: 98%;
    float: left;
    background-color: #3C5D6E;
    border-radius: 3px;
    border: 2px solid black;
    padding: 30px;
    overflow: hidden; }
  .site-main .textarea {
    width: 48%;
    display: inline-block;
    margin: 0 auto; }
  .site-main .tabs {
    display: inline-block;
    width: 49%;
    height: 200px;
    border: 2px solid black;
    border-radius: 3px;
    overflow: hidden;
    padding: 30px;
    margin: 20px 2px;
    background-color: #3C5D6E; }
    .site-main .tabs div {
      float: left;
      width: 70%;
      height: 100%;
      padding: 12px;
      border: 2px solid white;
      background-color: #4e798f; }
    .site-main .tabs .logo {
      height: 120px;
      width: 120px;
      float: right;
      border: 2px solid black;
      background-image: url(../img/icons1.png); }
    .site-main .tabs .calendarlogo {
      background: url("../img/icons1.png") no-repeat -635px -487px; }
    .site-main .tabs .musiclogo {
      background: url("../img/icons1.png") no-repeat -377px -118px; }
    .site-main .tabs .fblogo {
      background: url("../img/icons1.png") no-repeat -255px 0px; }
    .site-main .tabs .watchlogo {
      background: url("../img/icons1.png") no-repeat -1025px -490px; }
    .site-main .tabs .checklogo {
      background: url("../img/icons1.png") no-repeat -640px 0px; }
    .site-main .tabs .alarmlogo {
      background: url("../img/icons1.png") no-repeat -385px -122px; }
    .site-main .tabs .emaillogo {
      background: url("../img/icons1.png") no-repeat 0px -240px; }
    .site-main .tabs .addonlogo {
      background: url("../img/icons1.png") no-repeat -255px -492px; }
.site-footer {
  background-color: #425778;
  width: 100%;
  height: 400px;
  padding: 60px;
  overflow: hidden;
  border-top: 1px solid black; }
  .site-footer-inner {
    width: 60%;
    min-height: 300px;
    background-color: #494278;
    margin: auto auto;
    border: 2px solid black;
    border-radius: 3px;
    padding: 20px;
    font-size: 15px; }
    .site-footer-inner div {
      width: 33.333%;
      height: 70%;
      float: left;
      margin: 20px 0;
      padding: 15px;
      border: 1px solid white;
      background-color: #b6b2d4;
      text-align: justify; }
      .site-footer-inner div .textarea {
        clear: right; }
    .site-footer-inner img {
      height: 50px;
      width: 50px;
      float: right; }

/*# sourceMappingURL=style.css.map */
